/* singlePost.module.css */

.container {
  display: flex;
  gap: 100px;
  font-family: Arial, Helvetica, sans-serif; /* 覆盖字体 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
}

.Blogcontent {
  max-width: 5000px; /* 限制最大宽度，避免内容溢出 */
  overflow-x: auto; /* 当内容宽度超过容器宽度时，显示水平滚动条 */
  padding: 20px; /* 在内容与容器边缘之间添加20px的空间 */
  word-wrap: break-word; /* 允许长单词在必要时换行 */
  box-sizing: border-box; /* 包括边框和内边距在元素总宽度和总高度内 */
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif; /* 覆盖字体 */
}

.title {
  font-size: 64px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 覆盖字体 */
}

.detail {
  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif; /* 覆盖字体 */
}

.avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif; /* 覆盖字体 */
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-family: Arial, Helvetica, sans-serif; /* 覆盖字体 */
  max-width: 100%;
  width: 100%;
  overflow-x: auto; /* 保留橫向捲動 */
  box-sizing: border-box;
}

.content a {
  text-decoration: underline;
  color: var(--lightYellow);
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }

  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0; /* 改這邊 */
    max-width: 100%;
    width: 100%;
  }

  .textContainer {
    max-width: 100%;
    width: 100%;
    padding-bottom: 20px;
  }

  .content {
    max-width: 100%;
    width: 100%;
    padding: 0px; /* 很關鍵，保證內容左右有空間 */
    overflow-x: auto;
    box-sizing: border-box;
    word-break: break-word;
  }

  .title {
    font-size: 28px !important;
    line-height: 1.2;
    word-break: break-word;
  }
}

