:root{
    --white: white;
    --lightYellow: #F9F900;
    --Yellow: #ffe727;
    --tiffany: #4DFFFF;
}

@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cyber', sans-serif;
}
p img {
  max-width: 100%; /* 使图片最大宽度不超过其包含的<p>标签宽度 */
  height: auto; /* 保持图片的原始宽高比 */
}

pre {
  white-space: pre-wrap;       
  word-wrap: break-word;       
  overflow-x: auto;           
  padding: 1em;              
  border-radius: 0.5em;        /* 圆角边框 */
  border: 1px solid #ddd;      /* 灰色边框 */
}

code {
  display: block;              /* 让<code>元素像块一样显示 */
  overflow-x: auto;            /* 同样提供水平滚动条 */
}

h1 { 
  color:#F9F900;/* 设置字体颜色 */
  font-size: 24px; /* 设置字体大小 */
  text-align: center; /* 设置文本居中对齐 */
  margin-top: 20px; /* 设置上边距 */
  margin-bottom: 20px; /* 设置下边距 */
}

h2{
    color: var(--Yellow);
    margin-top: 50px;
}

h3{
    margin-top: 20px;
}

h4{
    margin-top: 15px;
}

pre {
    border: 1px solid #ccc; /* 设置边框样式 */
  max-width: 100%; /* 确保pre元素不会超过其父容器的宽度 */
  overflow-x: auto; /* 当内容溢出时显示水平滚动条 */
  white-space: pre-wrap; /* 保持空白符的处理方式，同时允许单词在必要时换行 */
  word-wrap: break-word; /* 在长单词或URL地址不足以在当前行放下时进行换行 */
}

code {
  display: block; /* 使code元素表现为块级元素，有助于应用滚动条 */
  white-space: pre; /* 保持格式化文本的原始空白符 */
}

p{
    color: white;
    font-family: 'Cyber', Courier, "Noto Sans TC",monospace;
    margin-top: 5px;
}

em{
    font-style: italic;
   color: var(--lightYellow);
   opacity: 0.8;
}

body{
    background-color: black;
    color: var(--tiffany);
}

a{
    text-decoration: none;
    color: inherit;
}

th, td {
  border: 1px solid white;
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Adjust the border-radius as needed */
}

/* Remove cell spacing (optional) and allow border radius to be visible */
table {
  border-collapse: separate;
  border-spacing: 0; /* Removes space between cells */
}

.buttons{
    display: flex;
    gap: 20px
}

.container{
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width: 1536px){
    .container{
       width: 1366px;
    }
}

@media(max-width: 1336px){
    .container{
       width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
       width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
       width: 768px;
    }
}

@media(max-width: 768px){
    .container{
       width: 640px;
    }
}

@media(max-width: 640px){
    .container{
       width: 475px;
    }
}

@media(max-width: 475){
    .container{
       width: 380px;
    }
}

@media(max-width: 450px){
    .container{
       width: 360px;
    }
}

.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 40;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: 15px;
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 120px;
  height: 55px;
  line-height: 55px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 250;
}

.cyber-h
{
    display: block;
    width: 60%;
   
}

.cyber-h::after
{
    content: ' ';
    width: 100%;
    height: 6px;
    display: block;
    background-color: var(--lightYellow);
    clip-path: polygon(0 0, 0 100%, 10% 100%, calc(10% + 4px) 2px, 100% 2px, 100% 0);
}

h1.cyber-h
{
    font-size: 3.0rem;
    margin: 2.0rem 0;
    width: 100%;
}

h2.cyber-h
{
    font-size: 2.5rem;
    margin: 1.6rem 0;
    width: 90%;
}

h3.cyber-h
{
    font-size: 2rem;
    margin: 1.4rem 0;
    width: 80%;
}

h4.cyber-h
{
    font-size: 1.5rem;
    margin: 1.2rem 0;
    width: 70%;
}

h5.cyber-h
{
    font-size: 1.0rem;
    margin: 1.0rem 0;
    width: 60%;
}

h6.cyber-h
{
    font-size: 1.0rem;
    margin: 1.0rem 0;
    font-weight: 400;
    width: 60%;
}

:root {
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #0c5f74;
  --green-color: #298d29;
  --purple-color: purple;
  --neon-color: #39ff14;
  --black-color: #000;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}


/* Images frames */

img.cyberpunk,
.cyberpunk img {
  padding: 30px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
  max-width: calc(100% - 10px);
}

/* Section */
section.cyberpunk {
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 60px 60px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}
section.cyberpunk:after,
section.cyberpunk.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--black-color);
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.both:after,
section.cyberpunk.both.black:after {
  height: 100%;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
  /*background-color: red;*/
}

section.cyberpunk.black:after {
  background-color: var(--yellow-color);
}

section.cyberpunk.black {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

section.cyberpunk:before,
section.cyberpunk.black:before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--yellow-color);
  position: absolute;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    70% 0px
  );
}

section.cyberpunk.both:before,
section.cyberpunk.both.black:before {
  height: 100%;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
}

section.cyberpunk:before {
  background-color: var(--black-color);
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
 transform: scaleX(-1);
}


.cyber-glitch-0
{
    animation: cyber-glitch-0 6s linear infinite;
}


@keyframes cyber-glitch-0
{
    0% {filter: blur(0) brightness(100%) contrast(100%);}
    2% {filter: blur(.05rem) brightness(120%) contrast(120%);}
    4% {filter: blur(.10rem) brightness(150%) contrast(150%);}
    6% {filter: blur(.20rem) brightness(170%) contrast(170%);}
    8% {filter: blur(0) brightness(100%) contrast(100%);}
    10% {filter: blur(0) brightness(100%) contrast(100%);}
    60% {filter: blur(0) brightness(100%) contrast(100%);}
    62% {filter: blur(.05rem) brightness(60%) contrast(100%);}
    64% {filter: blur(.10rem) brightness(40%) contrast(100%);}
    66% {filter: blur(0) brightness(100%) contrast(100%);}
    68% {filter: blur(.05rem) brightness(60%) contrast(100%);}
    70% {filter: blur(.10rem) brightness(40%) contrast(100%);}
    72% {filter: blur(0) brightness(100%) contrast(100%);}
    100% {filter: blur(0) brightness(100%) contrast(100%);}
}