.container{
    display: flex;
    gap: 100px;

}

.textContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    color: var(--lightYellow);
    font-size: 96px;
    text-shadow:2px 3px 5px var(--tiffany);
}

.description{
    color:white;
    font-size: 20px;
}

.buttons{
    display: flex;
    gap: 20px
}

.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:first-child{
    background-color: var(--lightYellow);
    color:black;
}

.brands{
    width: 200px;
    position:relative;
    filter: grayscale(100%);
    display: flex;
    justify-content: space-between;
}
.brandImg {
  width: 100%; /* 調整圖片的寬度以平分空間 */
}

.imgContainer{
    flex:1;
    position: relative;
    width: 100%;
    filter:drop-shadow(0px 0px 10px rgba(0,0,0,.5)) contrast(120%);
    min-height: 600px;
}

@media(max-width:1024px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .buttons{
        justify-content: center;
    }
}

@media(max-width:768px){
    .title{
        font-size: 64px;
    }
    .brands{
        width:100%;
    }
}

@media(max-width: 450px){
    .title{
        font-size: 40px;
    }
    .brandImg {
    width: 50px; 
    height: 50px; 
  }
  .imgContainer{
        min-height: 300px;
    }
}

.title {
  position: relative;
  font-family: 'Cyber', sans-serif;
  display: inline-block;
  color: var(--lightYellow); 
  overflow: hidden;
}

.title::before,.title::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--color, white); /* 默认白色，可根据需要调整 */
  overflow: hidden;
  
}

.title::before {
  animation: glitch3 2s infinite;
  clip-path: polygon(0 25%, 100% 20%, 100% 80%, 0 75%);
}

.title::after {
  animation: glitch4 2s infinite;
  clip-path: polygon(0 20%, 100% 25%, 100% 75%, 0 80%);
}

@keyframes glitch3 {
  0%, 100% {
    transform: translate(0);
    opacity: 0.75;
  }
  20%, 40%, 60% {
    transform: translate(-2px, -2px);
    opacity: 0.5;
  }
  30%, 50%, 70% {
    transform: translate(2px, 2px);
    opacity: 0.5;
  }
}

@keyframes glitch4 {
  0%, 100% {
    transform: translate(0);
    opacity: 0.75;
  }
  20%, 40%, 60% {
    transform: translate(2px, 2px);
    opacity: 0.5;
  }
  30%, 50%, 70% {
    transform: translate(-2px, -2px);
    opacity: 0.5;
  }
}
