.imageContainer {
  width: 100%;
  max-width: 500px; /* 在大屏幕上图片宽度不超过500px */
  margin: 0 auto; /* 图片居中显示 */
}

/* 在屏幕宽度小于或等于500px时，图片宽度为100% */
@media (max-width: 500px) {
  .imageContainer {
    width: 100%;
  }
}
