.bannerContainer {
  background-color: #000;
  color: white;
  padding: 0.5rem 0;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.9rem; 
}

.scrollWrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scrollText {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 50s linear infinite;
}

.scrollRunning {
  animation-play-state: running;
}

.scrollPaused {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.greenDot {
  margin-right: 1rem;
}

.token {
  margin-right: 2rem;
}

.tokenSymbol {
  margin-right: 0.25rem;
}

.positive {
  color: #00ff00;
}

.negative {
  color: #ff4c4c;
}
